<footer>
    <div class="name"><p>Daniel Calderón</p></div>
    <div class="contact">
        <p>Tel. 311-159-09-13</p>
        <div class="icon">
            <a href="https://github.com/danycalderon16" target="_blank">
                <img src="../../../assets/icons/github.svg" alt="">
            </a>
        </div>
        <div class="icon">
            <a href="https://www.linkedin.com/in/daniel-calderon-vi/" target="_blank">
                <img src="../../../assets/icons/linkedin.svg" alt="">
            </a>
        </div>
    </div>
</footer>
