div{
  background-color: rgb(14, 14, 14);
  h2{
    padding: 2rem;
    color: white;
    font-size: 4rem;
    font-weight: 300;
    line-height: 4.4rem;
    text-align: center;
  }
}
svg {
  width: 100%;
}