.cards{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 1rem;
}
.card{
  margin: 0;
  padding: 1rem;
  max-width: 400px;
  box-shadow: -1px 0px 35px -8px rgba(0,0,0,0.68);
-webkit-box-shadow: -1px 0px 35px -8px rgba(0,0,0,0.68);
-moz-box-shadow: -1px 0px 35px -8px rgba(0,0,0,0.68);
}
.card:hover{
  cursor: pointer;
  transform: scale(1.01);
  box-shadow: -1px 0px 35px -2px rgba(0,0,0,0.61);
  -webkit-box-shadow: -1px 0px 35px -2px rgba(0,0,0,0.61);
  -moz-box-shadow: -1px 0px 35px -2px rgba(0,0,0,0.61);
}
.card-img{
  height: auto;
  background-size: contain;
  max-height: 200px;
}
mat-card-title{
  
  line-height: 2.3rem;
}
mat-card-content{
  margin-bottom: 1rem;
  p{
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: justify;
  }
}
.img{
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
.tools{
  display: flex;
  justify-content: flex-start;
}
.tool{
  width: 30px;
  height: 30px;
  margin-right: 1rem;
  border-radius: 50px;
  padding: 2px;
  border: 1px solid rgb(169, 169, 169);
  img{
    width: 26px;
    height: 26px;
  }
}